<%= style %>
<%= banner result %>

<h1>Result of <%= name %> at <%= link_to result %></h1>
<p>
    <ul>
      <li class='<%= /OK/ =~ result.result ? 'success_line' : 'failed_line'%>'><%=h result.result %>
        <%= link_to_log_of result %>
      </li>
      <% if rev = result.rev %>
        <li>rev: <%= rev_link result %></li>
      <% end %>
      <% if result.core_link %>
        <li>core: <%= h result.core_link %></li>
      <% end %>
      <% if result.desc_json && desc = JSON.parse(result.desc_json, symbolize_names: true) %>
        <li>test-all: <%=h desc[:test_all] || '' %></li>
        <li>test-spec: <%=h desc[:test_spec] || '' %></li>
        <li>commands:<pre><table><% desc[:exit_results].each do |(lineno, line)|
          %><%= exit_results_line(result.detail_link, lineno, line) %>
<% end %></table></pre>
	</li>
      <% end %>
      <li><pre><%=h result.memo %></pre></li>
      <li><pre><%=h result.desc.scrub %></pre></li>
    </ul>
</p>
