<%= style %>
<div><a href='/'>top</a> / <a href='/results/<%=h result.name %>'><%=h result.name %></a></div>

<h1><a href=''>Result of <%= name %> at <%= result.updated_at %></a></h1>
<p>
    <ul>
      <li class='<%= /OK/ =~ result.result ? 'success_line' : 'failed_line'%>'><%=h result.result %>
      <% if result.detail_link %>
	 <a href='<%=h log_link = result.detail_link %>'>[LOG]</a>
      <% end %>
      </li>
      <% if rev = result.rev %>
        <li>rev: <%= rev_link result %></li>
      <% end %>
      <% if result.desc_json
           desc = JSON.parse(result.desc_json, symbolize_names: true)
       %>
        <li>test-all: <%=h desc[:test_all] || '' %></li>
        <li>test-spec: <%=h desc[:test_spec] || '' %></li>
        <li>commands:<pre><table><% desc[:exit_results].each do |(lineno, line)|
          %><%= exit_results_line(log_link, lineno, line) %>
<% end %></table></pre>
	</li>
      <% end %>
      <li><pre><%=h result.memo %></pre></li>
      <li><pre><%=h result.desc.scrub %></pre></li>
    </ul>
</p>
