
<h1>Latest results at <%= Time.now %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latest</th>
    <th></th>
    <th>Stat in last 24H<br/>errors / tries</th>
    <th>Stat in last 3 days<br/>errors / tries</th>
    <th>Stat in last 7 days<br/>errors / tries</th>
    <th>Errors in last 24H</th>
  </tr>

  <% @test_status.each do |test| %>
    <tr>
      <% r = test.result %>
      <% t = r.updated_at %>
      <td><a href='/results/<%=h test.name %>'><%=h test.name %></a></td>
      <td><a href='/results/<%=h test.name %>/<%=h r.id %>'><%=h Time.at(t).strftime('%H:%M') %></a> (<%= good_diff(t) %> ago) <%=h r.result %>
      <% if r.rev %>
        (<%= rev_link(r) %>)
      <% end %>
      <% if r.detail_link %>
        [<a href='<%=h r.detail_link %>'>LOG</a>]
      <% end %>
      </td>
      <td>
	<% if next_alert_time = WATCH_LIST.dig(r.name, :alerted) %>
	timeout (next alert: <%= Time.at(next_alert_time) %>)
        <% end %>
      </td>
      <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(test.name, 1) %></div></td>
      <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(test.name, 3) %></div></td>
      <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(test.name, 7) %></div></td>
      <td>
        <% recent_failures(test.name, 1).each do |result| %>
          [<a href='/results/<%=h result.name %>/<%=h result.id %>'><%=h result.updated_at.strftime('%H:%M') %></a>]
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>TOTAL</td>
    <td></td>
    <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(nil, 1) %></div></td>
    <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(nil, 3) %></div></td>
    <td align='center'><div style='font-family: monospace; white-space: pre;'><%= recent_failures_stat(nil, 7) %></div></td>
  </tr>
</table>
