
<h1>Results of <%=h name %></h1>

<table>
  <% results.each{|result| %>
    <tr>
      <td> <a href='/results/<%=h name %>/<%=h result.id %>'><%= result.updated_at %></a></td>
      <td>
      <% if result.detail_link %>
	<a href='<%= result.detail_link %>'><%=h result.result %></a>
      <% else %>
	<%=h result.result %>
      <% end %>
      </td>
      <td>
    </tr>
  <% } %>
</table>
