
<h1>Results of <%= name %> at <%= Time.at(time) %></h1>

  <% vs = MEM_DB[name] %>
  <% data = vs.find{|(t, opts)| t == time} %>
  <% if data %>
    <% t, opts = *data %>
    <% next unless t %>
    <ul>
      <li><a href='/results/<%=h name %>'><%=h name %></a></li>
      <li><a href='/results/<%=h name %>/<%= t %>'><%= Time.at(t) %></a></li>
      <li>
      <% if opts[:detail_link] %>
	<%=h opts[:result] %> <a href='<%=h opts[:detail_link]%>'>[LOG]</a>
      <% else %>
	<%=h opts[:result] %>
      <% end %>
      </li>
      <li><pre><%=h opts[:desc]%></pre></li>
      <li><pre><%=h opts[:memo]%></pre></li>
    </ul>
  <% end %>
