
<h1>Results of <%= name %> at <%= result.updated_at %></h1>
    <ul>
      <li><a href='/results/<%=h result.name %>'><%=h result.name %></a></li>
      <li><a href='/results/<%=h result.name %>/<%= result.id %>'><%= result.updated_at %></a></li>
      <li>
      <% if result.detail_link %>
	<%=h result.result %> <a href='<%=h result.detail_link %>'>[LOG]</a>
      <% else %>
	<%=h result.result %>
      <% end %>
      </li>
      <li><pre><%=h result.desc %></pre></li>
      <li><pre><%=h result.memo %></pre></li>
    </ul>
